body {
    font-family: 'MinecraftTen-VGORe';
    src: url('fonts/MyFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the font */
body {
    font-family: 'MinecraftTen-VGORe', sans-serif;
}

    h1 {
text-align: center;

    }

    section{
        width: 80%;
        margin: auto;
        border: 2px;
        padding: 10px;
    }